@import url(http://fonts.googleapis.com/css?family=Arimo:100, 300, 400);
    .redeem button, form>.username button {
    outline: 0!important;
    line-height: 22px;
}
@media (min-width:1200px) {
    .container {
    width: 1000px!important;
}
}@media (min-width:768px) {
    .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 11px;
}
.header .buttons {
    float: left;
    width: 50%}
.header .logo {
    width: 50%}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    text-decoration: none;
    background: #00B838!important;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0!important;
}
}@media (max-width:768px) {
    .navbar-default {
    position: relative;
    top: -38px;
    background: 0 0!important;
    border: none!important;
    margin-bottom: 0;
}
.navbar-nav {
    background: #161C1F;
    margin: 0 -15px!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-nav li>a:hover {
    background: #00B838!important;
    color: #FFF;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 8px solid #00856B!important;
    position: relative;
    top: -6px;
}
.navbar-brand {
    position: relative;
    top: -5px;
    color: #fff!important;
}
.navbar-toggle {
    position: relative;
    top: -3px;
    background: 0 0!important;
    border: none!important;
}
.navbar-toggle .icon-bar {
    background: #fff!important;
    transition: all .2s;
}
.navbar-toggle:active .icon-bar {
    background: #eee!important;
}
}body {
    font-family: Arimo, sans-serif;
    background: url(http://i.imgur.com/9wDBlDQ.png) no-repeat #e6e6e6;
}
* {
    margin: 0;
}
a, a:hover {
    color: #00B838;
}
.modal-content {
    border-radius: 0;
}
.category td.button>a {
    background: #1E2224;
    border-bottom: 2px solid #00B838;
}
form>.username input {
    outline: 0!important;
    border-radius: 0;
    border: 1px solid #00B838;
    border-bottom: 3px solid #00B838;
    box-shadow: none;
}
form>.username button {
    background: 0 0;
    color: #00B838;
    border: 1px solid #00B838!important;
    border-bottom: 3px solid #00B838!important;
    transition: all .2s;
}
form>.username button:active, form>.username button:focus, form>.username button:hover {
    color: #fff;
    background: #00B838;
}
.packages>form>table .quantity>input[type=text], .redeem input {
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #4183D7;
    border-bottom: 3px solid #4183D7;
    outline: 0!important;
}
.redeem button {
    margin-left: 0!important;
}
.packages>form>table .quantity>input[type=text] {
    border-color: #ddd;
}
body, html {
    height: 100%}
.header {
    height: 150px;
    background: url(http://i.imgur.com/9wDBlDQ.png) no-repeat;
    background-size: cover;
}
.header .logo {
    width: 100%;
    height: 100%}
.header .logo a {
    height: 100%;
    vertical-align: middle;
    display: block;
    color: #FFF;
    text-shadow: 0 1px #000, 0 2px #000;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}
.header .logo a span {
    padding-top: 50px;
    display: block;
}
.header .logo span>small {
    font-size: 60%;
    font-style: italic;
}
.header .logo a img {
    max-height: 150px;
    max-width: 100%}
.header .buttons {
    position: relative;
    top: -7px;
}
.header .buttons .currency ul {
    min-width: 63px;
    text-align: center;
}
.header .buttons .basket .dropdown-menu {
    color: #FFF;
}
.header .buttons .basket .dropdown-menu .item {
    height: 40px;
}
.header .buttons .basket .dropdown-menu .item .remove a {
    color: #FFF;
}
.navbar-default {
    border: 0;
    border-radius: 0;
    border-bottom: 4px solid #00B838;
    background: #161C1F;
    min-height: 0;
    margin-top: -5px;
}
.navbar-nav {
    z-index: 9999!important;
    display: block;
}
.navbar-default .navbar-nav>li>a {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 22px;
}
.panel .panel-heading, .swiper-description {
    text-shadow: 0 1px #000, 0 2px #000;
    font-weight: 300;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    transition: all .15s;
    color: #FFF;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: #00B838;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FFF;
    background: #00B838;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background: #00B838;
}
.dropdown-menu>li>a {
    color: #00856B;
    padding: 8px 15px;
    transition: all .2s;
}
.dropdown-menu>li>a:active, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #FFF;
    background: #00B838;
}
.dropdown-menu {
    background: #fff;
    color: #00B838!important;
    border: none;
    padding: 0;
    border-radius: 0;
}
.dropdown-menu .fa.fa-times {
    color: #D9534F;
}
.panel-default {
    border: none;
    background: #FFF;
    border-radius: 0;
}
.panel .panel-heading {
    font-size: 18px;
    border-bottom: 4px solid #00B838;
    background: #1E2224;
    border-radius: 0;
    color: #FFF;
}
.footer {
    border: none;
    margin-top: -20px;
}
.footer .branding {
    color: #ccc;
    font-size: 12px;
}
.footer a {
    color: #00B838;
    text-decoration: none;
}
.category .packages-row table .price .discount {
    color: #C0392B;
}
.btn {
    border-radius: 0;
    border: none;
}
.checkout .details input, .checkout .details select, .label-success {
    border-radius: 0;
}
.btn-info, .btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #1E8BC3;
    border-color: #1E8BC3;
}
.btn-danger, .btn-primary {
    background: #1E2224;
    transition: all .2s;
}
.btn-primary {
    border-bottom: 2px solid #0084B8!important;
}
.btn-danger {
    border-bottom: 2px solid #B80000!important;
}
.btn-danger:focus, .btn-danger:hover {
    background: #B80000;
}
.btn-default {
    transition: all .2s;
}
.btn-success {
    transition: all .2s;
    background: #1E2224;
    border-bottom: 2px solid #00B838!important;
}
.btn-success:focus, .btn-success:hover {
    background: #00B838;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4183D7;
    border-color: #4183D7;
}
.label-success {
    background: #1fa67a;
}
.sidebar .panel-heading>.text-right {
    margin-top: -2px;
}
.swiper-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    padding: 15px;
    color: #FFF;
    font-size: 18px;
}
.swiper-slide {
    border-bottom: 4px solid #00B838;
}
.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee!important;
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #0084B8!important;
}
.alert, .progress, .thumbnail {
    border-radius: 0;
}
.progress-bar {
    border-bottom: 1px solid #0084B8;
}
.progress-bar-success {
    background-color: #00c510;
    border-bottom-color: #00B838;
}
.progress-bar-danger {
    background-color: #d8000f;
    border-bottom-color: #B80000;
}
.nav-pills > li > a {
	border-radius: 0;
}